__pycache__
.vscode
venv
.idea
preprocessing/DeepSignDB
.ipynb_checkpoints
preprocessing/sigantures_forg.pkl
preprocessing/sigantures_gen.pkl
preprocessing/anchor.npy
preprocessing/negative.npy
preprocessing/positive.npy
preprocessing/positive_rand.npy
preprocessing/negative_rand.npy
preprocessing/anchor_rand.npy